VITE_API_URL=http://localhost:3000
VITE_LOGO_URL=https://res.cloudinary.com/dokjcpuuu/image/upload/brand/logo.png
VITE_LOGO_HORIZONTAL_URL=https://res.cloudinary.com/dokjcpuuu/image/upload/brand/logo-horizontal.png